.root {
	-fx-background-color: #ECDFC8;
}


.label {
	-fx-text-fill: #000000;
}


.button {
	-fx-background-color: #DF7861;
	-fx-font-weight: bold;
	-fx-background-radius: 50em;
}

.button:hover {
	-fx-background-color: #ECB390;
}

.button:pressed {
	-fx-background-color: #FCF8E8;
}


