.root {
	-fx-background-color: #ECDFC8;
}

.label {
	-fx-text-fill: #000000;
}

.button {
	-fx-background-color: #DF7861;
	-fx-font-weight: bold;
	-fx-background-radius: 50em;
}

.button:hover {
	-fx-background-color: #ECB390;
}

.button:pressed {
	-fx-background-color: #FCF8E8;
}



.list-cell {
	-fx-background-color: #DF7861;
}

.list-cell:filled:selected {
	-fx-background-color: #DF7861;
}

.list-cell:odd {
	-fx-background-color: #ECB390;
}

.list-cell:even {
	-fx-background-color: #ECB390;
}

.list-cell:odd:hover {
	-fx-background-color: #DF7861;
}

.list-cell:even:hover {
	-fx-background-color: #DF7861;
}
